/RussianAICup2015Car/bin/Debug
/RussianAICup2015Car/obj/Debug
/RussianAICup2015Car/Sources/Sources.zip
/RussianAICup2015Car/bin/Release
/RussianAICup2015Car/obj/Release
/RussianAICup2015Neural/Debug
/RussianAICup2015Neural/Release
